{% extends 'portlet/base.html' %}

{% block content %}
<section
    class="slideshow {{ portlet.slider_class }}"
    data-timeout="{{ portlet.timeout }}"
    data-fading_speed="{{ portlet.fading_speed }}"
>

    <div class="slides">

        <div class="slides-inner container">

        {% for slide in portlet.slides %}
            <div class="slide-item row-fluid"{% if not forloop.first %} style="visibility: hidden;"{% endif %}>

                <div class="sliderimagepart">

                    <img src="{{ slide.image.url }}" alt="{{ slide.name }}" />

                </div><!-- /.sliderimagepart -->

                <div class="slidertextpart">

                    {{ slide.slider_text|safe }}

                </div><!-- /.slidertextpart -->

            </div><!-- /.slide-item.row-fluid -->
        {% endfor %}

        </div><!-- /.slides-inner -->

    </div><!-- /.slides -->

    <div class="slider-nav-wrapper"></div>

</section><!-- /#slideshow -->
{% endblock %}
