.SliderPortlet {
    .content {
        overflow: hidden;
    }
}

.slider {
    color: @white;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0 auto;
}

.slideshow {
    @baseHeight: 241px;

    .helios-corner;

    background-color: @gray;
    height: @baseHeight;
    margin: 0 0 1.5em;
    overflow: hidden;
    position: relative;

    .slides {
        position: absolute;
    }

    .slideimagepart {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    .slidetextpart {
/*
        @fadeoutValue: 15%;
        #gradient > .directional(fadeout(@pGreenDark, @fadeoutValue), fadeout(@pGreenPale, @fadeoutValue));
*/
        #gradient > .directional(@pGreenDark, @pGreenPale);

        height: @baseHeight;
        left: 0;
        margin: 0;
        padding: 1em;
        position: absolute;
        text-align: left;
        top: 0;
        z-index: 1001;

        h1 {
            color: @white;
            font-size: 1.8em;
            font-weight: 400;
            margin-top: 0;
        }
    }
}

.slider-nav {
    &.arrows {
        position: absolute;
    }

    &.bullets {
        @baseSize: 20px;

        list-style-type: none;
        margin: 0 auto 20px;
        overflow: hidden;
        text-align: center !important;

        li {
            float: left;
        }

        a {
            .border-radius(@baseSize);

            background: none repeat scroll 0 0 @pGreen;
            color: transparent;
            display: block;
            height: @baseSize;
            margin: 1px 5px 0;
            text-indent: -9999px;
            width: @baseSize;

            &.active {
                background: none repeat scroll 0 0 @pGreenDark;
            }
        }

    }
}
